.board {
    background-color: blue;
    box-shadow: 0.5em 0.4em 2em 0;
    color: white;
    height: 31em;
    margin: 4em auto;
    position: relative;
    width: 36em;
}
.col {
    float: left;
    margin-left: 1em;
    width: 4em;
}
.cell {
    border-radius: 2em;
    box-shadow: 0.1em 0.1em 0.5em 0 black inset;
    height: 4em;
    margin-top: 1em;
}

.empty {
    background-color: white;
    transition: 400ms;
}
.board.active .col:hover .empty {
    background-color: silver;
    transition: 400ms;
}
.red {
    background-color: red;
    color: red;
}
.yellow {
    background-color: yellow;
    color: yellow;
}

.message {
    font: bold 1em/1 "Lucida Grande";
    margin: 0 auto;
    padding: 0.5em 0;
    width: 36em;
}
.message.red {
    color: white;
}
.message.yellow {
    color: black;
}

.winner {
    background-color: transparent;
    font: 5em/1 Impact;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: black 0 0 0.25em;
    top: 3.2em;
}

.controls {
    font: 1em/1 "Lucida Grande";
    margin: 1em auto;
    text-align: center;
}
.controls label {
    display: inline-block;
    text-align: right;
    width: 8em;
}
.controls input, .controls select {
    width: 8em;
}
.controls input[type=submit] {
    display: inline-block;
}
.controls + .board {
    margin-top: 0;
}
