.board {
    background-color: blue;
    box-shadow: 0.5em 0.4em 2em 0;
    height: 37em;
    margin: 4em auto;
    position: relative;
    width: 43em;
}
.col {
    float: left;
    margin-left: 1em;
    width: 5em;
}
.cell {
    border-radius: 2.5em;
    box-shadow: 0.1em 0.1em 0.5em 0 black inset;
    height: 5em;
    margin-top: 1em;
}

.disabled, .empty {
    background-color: white;
    transition: 400ms;
}
.col:hover .empty {
    background-color: silver;
    transition: 400ms;
}
.red {
    background-color: red;
    color: red;
}
.yellow {
    background-color: yellow;
    color: yellow;
}

.winner {
    background-color: transparent;
    font: 5em/1 Impact;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: black 0 0 0.25em;
    top: 3.2em;
}
